@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=DM+Sans&family=Gloria+Hallelujah&family=Orbitron&family=Play&family=Press+Start+2P&family=Righteous&family=Space+Mono&display=swap');

body {
    background-color: white;
    color: black;
}

.Clock {
    text-align: center;
    padding: 200px 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}
