@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=DM+Sans&family=Gloria+Hallelujah&family=Orbitron&family=Play&family=Press+Start+2P&family=Righteous&family=Space+Mono&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    background-color: white;
    color: black;
}

.Clock {
    text-align: center;
    padding: 200px 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}

/* Playbutton */
.radioco-playButton-playing:before{
    font-family: 'FontAwesome', sans-serif;
  content: "\f04b";
}

.radioco-playButton-paused:before{
    font-family: 'FontAwesome', sans-serif;
  content:"\f04c";
}

.radioco-playButton{
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 42px;
  left: 12px;
  font-size:30px;
}

.radioco-playButton:active{
  color:#000000;
}

.radioco-playButton-playing{
  font-family: "controls";
  position: absolute;
  text-size:150%;
}

.radioco-playButton-paused{
  font-family: "controls";
  position: absolute;
  text-size:150%;
}

/* Now Playing */
.container{
    background:#ffffff;
    position: absolute;
    left: 40px;
    bottom: 16px;
    color:rgb(0, 0, 0);
    height: 30px;
}

.container strong{
    float: left;
    margin-right:15px;
    font-family: 'Orbitron', sans-serif;
    font-size: xx-large;
}

.container marquee{
    position: absolute;
    float: right;
    width: 1500px;
    font-family: 'Orbitron', sans-serif;
    font-size: xx-large;

}

button {
    position: absolute;
    right: 20px;
}